html{
    --black-color: #171717;
}

form > div {
    margin: 0 auto;
    padding: 65px 45px;
    width: 850px;
    background-color: #F9F9F9;
    
    color: var(--black-color);
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

h1{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    
    margin: 0;
    padding-bottom: 65px;
}

h2{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    margin: 0;
    padding: 32px 0;
}

h3{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    
    margin: 0;
    padding: 24px 0;
}

.red-text{
    color: #D83933;
}

section{
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 12px;
    
}

section > div{
    display: flex;
    justify-content: space-between;
    
}

section > div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 47%;
    margin-bottom: 20px;
}

section > div > div> label{

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: 8px;
}

section > div > div> input {
    width: 100%;
    height: 40px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
}

.checkbox-class{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.button-next{
    text-align: end;
    margin: 16px 0;
    display: flex;
    justify-content: end;

    
}

.button-next > input{
    padding: 9px 16px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

    color: #FFFFFF;
    background: #0050D8;
    border-radius: 10px;
}

#child-support-check, #fee-check, #purged-check{
    width: 24px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#intake-type, 
#application-category, 
#application-registration, 
#exempt-paternity, 
#enrollment-status,
#other-parent,
#case-category,
#iv-d,
#arrears-only,
#intergovernmental-category,
#county-ownership,
#intergovernmental-type,
#intergovernmental-status,
#applicant-indicator,
#parent-indicator{
    background: url(../img/arrow-down-s-line.svg) right 12px center no-repeat #FFFFFF;
}

#case-number,
#referral-number,
#user-enrollment,
#intake-supervisor,
#worker-input,
#owner-input{
    background: url(../img/search-line.svg) right 10px center no-repeat #FFFFFF;
}


/*

8 10
1-4

*/