
header {
    display: flex;
    position: sticky;
}

.header{
    text-align: center;
}

.title {
background-color: aqua;
}

.content {
background-color: brown;
height: 400px;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.navig{
   

}

.lishka {
   
}


.menu{
    display: flex;
    justify-content: space-between;
}

.navigat{
    display: flex; 
    justify-content:space-between;
}