
:root{
    --black-color: #000000;
    --white-color: #FFFFFF;
    --white-text-color: #FFFCFC;
    --form-gray-color: #E5E5E5;
}

section{
    height: 100vh;
    padding-top: 13vh;
}

section:first-of-type{
    padding-top: 0px;
}

section:last-of-type{
    height: 67vh;
    margin-bottom: 0px;
} 

section > div {
    height: 89vh;
    
}

h1{
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    margin: 30px  auto;
    color: var(--black-color);
}

h2{
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0;
    color: var(--black-color);
}

h4{
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: var(--black-color);
    margin: 0;
}

h5{
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: var(--black-color);
    margin: 0;
}

/* header */

header > div{
    display: flex;
    position: fixed;
    justify-content: space-between;

    height: 11vh;
    width: 100%;
    z-index: 999;

    color: var(--white-text-color);
    background-color: var(--black-color);
}

header  ul {
    display: flex;
    list-style: none;
}

header li {    
    margin: 10px 20px 0 50px;
}

header a {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    color: var(--white-text-color);
    text-decoration: none;
}

a:hover{
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    color: chocolate;
}

/* first screen */

.first-screen{
    display: flex;
    justify-content: space-evenly;
    padding-top: 11vh;
}

.first-screen > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

@keyframes gallery {
    100% { left: 0px; }
  }

.first-screen div:nth-of-type(2){
    left: -1000px;
    animation: gallery 1s cubic-bezier(.28,.11,.24,.99) .5s 1 normal forwards;
}

.first-screen div:nth-of-type(3){
    left: 1000px;
    animation: gallery 1s cubic-bezier(.28,.11,.24,.99) .5s 1 normal forwards;
}

.first-screen div:nth-of-type(1){
    left: -500px;
    animation: gallery 1s cubic-bezier(.28,.11,.24,.99) 1s 1 normal forwards;
}

.first-screen div:nth-of-type(4){
    left: 500px;
    animation: gallery 1s cubic-bezier(.28,.11,.24,.99) 1s 1 normal forwards;
}

/* services screen */

.services-screen{
    display: flex;
    justify-content: space-around;
    
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: var(--black-color);
}

.services-screen > div {
    position: relative;
    
    height: 89vh;
    width: 50%;

    overflow: hidden;
}

.services-screen > div > div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    height: 50%;
    width: 50%;

    /* position: relative; */
}

@keyframes services {
    0% { left: 0%; top: 0%; }
    25% { left: 50%; top: 0%; }
    50% { left: 50%; top: 50%; }
    75% { left: 0%; top: 50%; }
    100% { left: 0%; top: 0%; }
  }

@keyframes services-start {
   0% { opacity: 0; }
   100% { opacity: 1; }
}  



.services-screen > div > div:nth-of-type(1){
    top: 0%;
    left: 0%;
    animation: services 6s ease-in-out 0s infinite normal none;
}

.services-screen > div > div:nth-of-type(2){
    top: 0%;
    left: 0%;
    animation: services 6s linear 1.5s infinite normal none;

}

.services-screen > div > div:nth-of-type(3){
    top: 0%;
    left: 0%;
    animation: services 6s linear 3s infinite normal none;
}

.services-screen > div > div:nth-of-type(4){
    top: 0%;
    left: 0%;
    animation: services 6s linear 4.5s infinite normal none;
}

.services-screen > div > div:nth-of-type(1) > img,
.services-screen > div > div:nth-of-type(1) > div{
    opacity: 0;
    animation: services-start 1s ease-in .5s 1 normal forwards;
}

.services-screen > div > div:nth-of-type(2) > img,
.services-screen > div > div:nth-of-type(2) > div{
    opacity: 0;
    animation: services-start 1s ease-in 2s 1 normal forwards;
}

.services-screen > div > div:nth-of-type(3) > img,
.services-screen > div > div:nth-of-type(3) > div{
    opacity: 0;
    animation: services-start 1s ease-in 3.5s 1 normal forwards;
}

.services-screen > div > div:nth-of-type(4) > img,
.services-screen > div > div:nth-of-type(4) > div{
    opacity: 0;
    animation: services-start 1s ease-in 5s 1 normal forwards;
}


/* team screen */

.team-screen > div {
display: flex;
justify-content: space-evenly;
}

.team-screen > div > div {
    position: relative;
}

.team-screen > div > div > img:nth-of-type(2) {
    position: absolute;
    left: 0px;
    bottom: 0px;

    opacity: 0;
}

.team-screen > div:hover > div >  img:nth-of-type(1) {
   opacity: 0.6;
   transition: .2s cubic-bezier(.31,-0.01,.8,.55);
}

.team-screen > div > div:hover >  img:nth-of-type(1),
.team-screen > div > div:hover >  img:nth-of-type(2){
    opacity: 1;
   transition: .2s cubic-bezier(.31,-0.01,.8,.55);
}

/* contacts screen */

.contacts-screen{
    height: 67vh;
}

.contacts-screen {
    display: flex;
    justify-content: space-between;

    padding: 0 162px;
}

.contacts-screen>div:first-child {
    width: 936px;
    height: 400px;
    
}

.contacts-screen form{
    width: 100%;
    height: 100%;
    background-color: var(--form-gray-color);
    
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.contacts-screen form>div{
    padding: 34px 29px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-screen form>div>div:first-of-type{
    display: flex;
    justify-content: space-between;
}

.contacts-screen input{
    width: 410px;
    height: 80px;
}

.contacts-screen textarea{
    width: 875px;
    height: 209px;
}

.contacts-screen input,
.contacts-screen textarea{
    border: none;
}

/* footer */

footer>div{
    padding: 0 202px;
    display: flex;
    justify-content: space-between;
    height: 12vh;

    font-family: 'Rosario';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: var(--black-color);
}

footer a{
    text-decoration: none;
    color: var(--black-color);
}


footer span{
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: var(--black-color);
}

footer > div > div:nth-of-type(1),
footer > div > div:nth-of-type(2){
    text-align: center;
}

footer ul{
    list-style: none;
}

footer li{
    padding-left: 50px;
}

footer li:nth-of-type(1){
    background: url(../img/insta.svg) 0px 7px no-repeat;
}

footer li:nth-of-type(2){
    background: url(../img/facebook.svg) -6px 3px no-repeat;
}

footer li:nth-of-type(3){
    background: url(../img/twitter.svg) -2px 4px no-repeat;
}